/* 
https://developer.mozilla.org/es/docs/Learn/CSS/Building_blocks/El_modelo_de_caja
Modelo de Caja: Es la forma en que CSS ve a los elementos HTML y ¿cómo los ve? como si fueran cajas con las siguientes propiedades:
  1. El contenido (content): El contenido (texto) del elemento HTML, tomando en cuanta sus dimensiones (ancho y alto)
  2. El borde (border): Lo que delimita cada uno de los elementos HTML
  3. El relleno (padding): Son las distancias internas (La distancia del borde al contenido)
  3. El márgen (margin): Son las distancias externas (La distancia entre el elemento html y sus elementos hermanos o padres)
Dentro del modelo de caja hay que considerar que una caja tendrá 4 lados:
  1. Arriba (arriba)
  2. Derecha (derecha)
  3. Abajo (abajo)
  4. Izquierda (izquierda)
*/
body{
    
}
h1{
    width: 400px;
    height: 200px;
    /*propiedades de tipo shorthand*/
    border-color: green;
    border-top-color: red;
    border-width: thick /*thin 1px medium 3px tick 5px*/;
    border-style: solid;
    border: 2px dashed blue;
}
.caja-uno,
.caja-dos{
    background-color: chocolate;
    border: medium solid orange;
    /*
    Esto aplica para margin y padding
    1valor = aplicar a los 4 lados
    2valores = 
    primer valor es para los lados verticales (t/b)
    segundo valores para los lados horizontales (l/r)
    3valores =
    primer valor es para top
    segundo valor es para los lados horizontales(l/r)
    tercer valor es para bottom
    4valores = Como las manecillas del reloj
    1. Arriba (arriba)
    2. Derecha (derecha)
    3. Abajo (abajo)
    4. Izquierda (izquierda)
    */
    padding: 0 40px 20px 50px;
    margin: 100px 50px 30px 0 ;
  }   

    /* 
Caja de Línea
  - Ocupan el espacio necesario para mostrar su contenido.
  - No tienen dimensiones modificables (alto, ancho).
  - Permiten otros elementos a su lado.
  - Padding y margin solo empujan a elementos adyacentes en horizontal, NUNCA EN VERTICAL.
Caja de Bloque
  - Ocupan todo el ancho disponible, lo que genera saltos de línea.
  - Tienen dimensiones modificables (alto, ancho).
  - No permiten otros elementos a su lado (aunque especifique un ancho, siguen ocupando 
  todo el espacio disponible a lo ancho, generando saltos de línea).
*/
  .caja-linea,
  .caja-bloque{
    background-color: darkcyan;
    color: white;
    height: 250px;
    width: 500px;
    border: medium solid black;
    padding: 16px;
    
  }
  .caja-bloque{
    margin: 32px 0;
    display: block;
    display: inline;
  }
  .caja-linea{
    margin: 48px;
    display: inline;
    display: block;
  }

  /* 
Propiedad Display
  inline
  block
  inline-block - Se comporta como un elemento de línea pero acepta modificar sus dimensiones (alto y ancho)
  none
  table
  list item
  flex - ve mi curso de Flexbox CSS
  grid - ve mi curso de Grid CSS
*/
  .caja-none,
  .caja-linea-bloque,
  .caja-hidden{
    border: thin solid red;
    background-color: green;
    color: white;
    width: 600px;
    height: 300px;
    
  }

  .caja-linea-bloque{
    display: inline-block;
  }
  .caja-none{
    display: none;
  }
  /*VISIBILITY*/
 .caja-hidden{
   visibility: hidden;
 }

   /*OVERFLOW*/
  .overflow{
    background-color: darkturquoise;
    width: 200px;
    height: 100px;
    overflow: visible;
    overflow: hidden;
    overflow-y: scroll;
    /*overflow-x*/
  }

  /*
  Tamaño de Caja
  content box por default se suma considerando desde borde + with y heigth
  border-box considera ajusta nuestro widht y heigth que tenga la misma medida aun asi si le ponemos bordes
  */
  .box-sizing-content,
  .box-sizing-border{
    box-sizing: content-box;
    background-color: deepskyblue;
    width: 500px;
    height: 250px;
    padding: 10px;
    border: thick solid black;
    /*w500 +10 +10 +5 +5= 530
      h250 +10 +10 +5 +5= 280*/
  }
  .box-sizing-border{
    box-sizing: border-box;
    
  }
  .container-col-3{
    background-color: burlywood;
    width: 600px;
    height: 300px;
    margin-top: 20px;
  }
  .container-col-3 > *{
    width: 200px;
    box-sizing: border-box;
    border: thin solid red;
    float: left;
  }
  /* 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/
apply a natural box layout model to all elements, but allowing components to change
*/

  html{
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after{
    box-sizing: inherit;
  }
  
  /*FLOATS*/
  .container-floats{
    background-color: cornflowerblue;
  }
  .float-right{
    float: right;
  }
  .float-left{
    float: left;
  }
  .clearfix{
    clear: both;
  } 

  /*COLLAPSO DE MARGENES VERTICALES*/
  /*si tenemos una seccion1 margin botom y una seccion 2 margin top
  estas no se sumaran(evitemos eso y declaremos solo 1 de estas)
  NOTA: Esto solo colapsa en verticales. mas no en horizontales(osea que si suman)*/
  .margin-collapse{
    background-color: skyblue;
  }
  .margin-collapse section{
    border: thin solid black;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .margin-collapse span{
    border: thin solid black;
    display: inline-block;
    margin-right: 16px;
    margin-left: 16px;
  }
  /*Centrado de Cajas*/
  .sitio-web{
    border: thin solid black;
    background-color: thistle;
    width: 800px;
    height: 1000px;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    /*margin: 0 auto;*/
  }
  