html{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: s;
}
*,
::before,
::after{
    box-sizing: inherit;
    
}
body{
    margin: 0;
    
    overflow: hidden;
}
.box{
    
    border: thick solid black;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    margin-bottom: 3rem;
}
.card{
    border: thick solid black;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    margin-bottom: 3rem;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
}
/*
Transiciones
transition-property
transition-duration
transition-timing-function: linear ease ease-in ease-out ease-in-out steps
transition-delay
transition: property duration timing-function delay
*/
.transitions .box{
    background-color: magenta;
    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 500ms;
    transition: border-color 2s linear 1s;
    transition: background-color 2s ease-in-out 250ms,
    border-color 2s ease-in-out 250ms,
    border-radius 2s ease-in-out 250ms,
    border-left 2s ease-in-out 250ms;
}

.transitions .box:hover{
    background-color: cyan;
    border-color: red;
    border-radius: 2rem;
    border-left: 2rem;

} 

.transitions .card{
    transition: opacity 1s ease-out,
    border-color 3s steps(3),
    filter 2s ease-in 1s,
     box-shadow 1.5s linear 2s;
}

.transitions .card:hover{
    opacity: 0.75;
    border-color: orchid;
    filter: blur(0.15rem);
    box-shadow: 1rem 1rem 2rem 0.5rem #000;
}

.transitions .card img{
    transition: object-position 2s ease-in-out 1s;
}

.transitions .card img:hover{
    object-position: 100% 50%;
}


/*TRANSFORMACIONES
2D */
.transform-2d img{
    transition: transform 1s ease-in-out;
    
}

.transform-2d img:hover{
    transform: none;
    transform: translateX(4rem);
    transform: translateY(4rem);
    /*shorthand*/
    transform: translate(-4rem, 4rem);
    transform: translate(50%, 50%);
    transform: translate(-50%, -50%);
    /*aumenta el doble de su proporcion en X*/
    transform: scaleX(2);
    transform: scaleY(0.5);
    /*shorthand*/
    transform: scale(1.5, 1.5);
    transform: scale(-1, -1);
    transform: scale(-0.5, -0.5);
    /*ROTACION
    necesita perspectiva para apreciar*/
    transform: rotateX(90deg);
    transform: rotateY(50deg);
    /*rotate = rotateZ*/
    transform: rotateZ(300deg);
    transform: rotate(300deg);
    transform: skewX(20deg);
    transform: skewX(-20deg);
    transform: skewY(20deg);
    transform: skewY(-20deg);
    transform: skewX(20deg);
    /*shorthand*/
    transform: skew(20deg, 20deg);

    /* 
    matrix( scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY() )
    https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/matrix()
  */

    transform: matrix(1,2,0,1,0,0);
    transform: translate(25%, -50%) rotate(360deg)
    skew(10deg, 10deg) scale(-0.5, -0.5); 
}
/*3D*/
/*todo esto se trabaja con perspective*/
.transform-3d{
    /*OTRA MANERA DE PONER PERSPECTIVA DESDE EL ELEMENTO PADRE DE LA IMG*/
    perspective: 10rem;
}
.transform-3d img{
    transition: transform 1s ease-in-out;
}
.transform-3d img:hover{
    
    transform: translateZ(4rem);
    transform: perspective(1500px)translateZ(4rem);
    transform: perspective(1500px)translateZ(-4rem);
    transform: translateZ(-4rem);
    /*primer valor en X, segundo en Y,tercero translate Z*/
    transform: translate3d(2rem, 50%, -3rem);
    /*Solo se aplican si la img tiene volumen*/
    transform: scaleZ(1.5);
    transform: scale3d(2, 0.5,3);
    transform: rotateX(60deg);
    transform: rotateY(60deg);
    transform: rotate3d(1,.5,0,45deg);
    transform: rotate3d(1,2.5,-2,-60deg);
    transform: rotate3d(-1, 2, 5, -2, 60deg);
}

/*TRANSFORM ORIGIN*/
.transform-origin img{
    transition: transform 2s ease-in-out;
    /*transform-origin: x y z;
    tomara un punto de referencia donde podremos interactuar*/
    /*50% x 50% y 0 en z*/
    transform-origin: 50% 50% 0;/*default en el centro*/
    /*el giro sera respecto de la esquina*/
    transform-origin: 0 0;
    transform-origin: top right;
    transform-origin: bottom center 50px;
}
.transform-origin img:hover{
    transform: rotate(360deg);
}
/*FLIP CARDS*/
.flip-card-1,
.flip-card-2{
    border: thick solid black;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    margin-bottom: 3rem;
    position: relative;
    cursor: pointer;
    transition: transform 1s ease-in-out;
    perspective: 10rem;
    transform-style: flat; /*default*/
    transform-style: preserve-3d;
}
.flip-card-1 img,
.flip-card-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
}

.flip-face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: visible;/*default*/
    backface-visibility: hidden;/*necesita perspectiva y transform style*/
}

.flip-front{
    transform: rotateY(0deg);
}

.flip-back{
    transform: rotateY(180deg);
}

.flip-card-1:hover{
    transform: rotateY(180deg);
} 

.flip-card-2{
    transform-origin: center right;
}
.flip-card-2:hover{
    transform: translateX(-100%)rotateY(-180deg);
}

/*ANIMACIONES*/
@keyframes myAwesomeAnimation {
    from{
        opacity: 0;
        transform: translateX(0);
    }
    to{
        opacity: 1;
        transform: translateX(100%);
    }
}
.my-animation{
    /*animation: name duration timing-function delay iteration-count direction fill-mode play-state;*/
    
    animation-name: myAwesomeAnimation;
    animation-duration: 2s;
    border: thick solid red;
    /*https://cubic-bezier.com/#.17,.67,.83,.67*/
    animation-timing-function: cubic-bezier(1,0,0,1);
    animation-timing-function: cubic-bezier(0,1.14,.98,-0.01);
    animation-timing-function: cubic-bezier(.17,.67,.83,.67);
    animation-timing-function: cubic-bezier(.17,.67,.83,.67);
    animation-delay: 500ms;
    animation-delay: 0ms;
    
    /*numero de veces de animacion*/
    animation-iteration-count: 3;
    animation-iteration-count: infinite;
    animation-iteration-count: 1;
    

    /*direction*/
    animation-direction: reverse;
    /*regresara la animacion*/
    animation-direction: alternate;
    animation-direction: alternate-reverse;
    animation-direction: normal;
    
    animation-fill-mode: none;/*default*/
    /*se quedara con el ultimo valor*/
    animation-fill-mode: forwards;
    /*no hara saltos al inicio*/
    animation-fill-mode: backwards;
    /*apliaca ambos*/
    animation-fill-mode: both;

    /*Es practica en JAVASCRIPT*/
    animation-play-state: running;
    animation-play-state: paused;

    /*shorthand*/
    animation: myAwesomeAnimation 1.5s ease 250ms 7 alternate both running;
    
}
@keyframes myAwesomeAnimation2 {
    0%{
        opacity: 0;
        transform: translateX(0);
    }
    50%{
        opacity: .5;
        transform: translateX(-50%);
    }
    75%{
        transform: translateX(-75%);
    }
    100%{
        opacity: 1;
        transform: translateX(100%);
    }
}
.my-animation-2{
    animation: myAwesomeAnimation2 5s;
}

/*ANIMATION MULTIPLE*/
@keyframes multipleAnimation1{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
@keyframes multipleAnimation2{
    0%{
        transform: translateY(0);
        
    }
    50%{
        transform: translateY(-100%);
    }
    100%{
        
        transform: translateY(0);
    }
}
.animation-multiple{

    animation: multipleAnimation1 2s infinite, multipleAnimation2 2s 3 ease-in-out;
    
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.fade-in{
    font-size: 5vw;
    animation: fadeIn 2s linear 2s infinite alternate both;
}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.fade-out{
    font-size: 5vw;
    animation: fadeOut 2s linear 2s infinite alternate both;
}

@keyframes shake{
    10%,
    90%{
        transform: translate(-1px, 0);
    }
    20%,
    80%{
        transform: translate(0px, 0);
    }
    30%,
    50%,
    70%{
        transform: translate(-4px, 0);
    }
    40%,
    60%{
        transform: translate(4px, 0);
    }
}

.shake{
    font-size: 5vw;
    cursor: pointer;
    display: inline-block;
}
.shake:hover{
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19,0.97) both;
    transform: translate(0,0);
}

.motion-examples{
    text-align: center;
}

@keyframes pulse{
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);
    }
}
.pulse{
    font-size: 5vw;
    cursor: pointer;
    display: inline-block;
    animation: pulse 1s linear infinite;
   
}
@keyframes heartColor {
    10%{
        background-color: #d00;
    }
}
.heart{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 10vw;
    height: 10vw;
    animation: pulse 1s linear infinite;
}

.heart::after,
.heart::before{
    position: absolute;
    content: "";
    left: 5vw;
    top: 0;
    width: 5vw;
    height: 8vw;
    background-color: #a00;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    border-radius: 5vw 5vw 0 0 ;
    animation: heartColor 1s linear infinite;
}

.heart::after{
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

@keyframes spinner {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}

.spinner{    
    width: 5vw;
    height: 5vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 0.5vw solid rgba(0, 0, 0, 0.5);
    border-left-color: #09f;
    animation: spinner 1s linear infinite;
}
/*BOTONES ANIMADOS*/
.btn{
    position: relative;
    border: none;
    border-radius: .25rem;
    padding: .2rem;
    width: 15rem;
    height: 2.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    box-shadow: .25rem .25rem .5rem .25rem rgba(0, 0, 0, 0.3);
}

.anim-bottom::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 0%;
    height: .25rem;
    background-color: #d00;
    transition: width .5s linear, left .5s ease, right .5s ease;
}

.anim-bottom:hover::after{
    width: 100%;
}

.to-left::after{
    left: 0;
}

.to-center::after{
    left: 50%;
}
.to-center:hover::after{
    left: 0%;
}

.to-right::after{
    right: 0;
}

.anim-bg-gradient{
    background-image: linear-gradient(to right, pink, violet, orange, orangered);
    /*le daremos una proporcion para que ver los 2 primeros colores*/
    background-size: 300% 100%;
    transition: background-position 1s ease-in-out;
}

.anim-bg-gradient:hover{
    background-position: 100% 0%;
}

/*TABS MENU*/
.tabs-menu{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #a6a6a6;
    padding: 1rem;
    border-radius: 1rem;
    width: 70%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabs-menu input[type="radio"]{
    /*los checkeds no se veran*/
    display: none;
}

.tabs-menu label{
    position: relative;
    z-index: 1;
    width: calc(100% / 4 - 0.5rem);
    text-align: center;
    cursor: pointer;

}

.tabs-menu label:hover{
    color: #fff;
}

/*selecionamos la etiqueta hermana que esta a lado(label)*/
.tabs-menu input[type="radio"]:checked + label{
    color: #fff;
}

.tab-bg-hover{
    position: absolute;
    width: calc(100% / 4 - 0.5rem);
    height: 2rem;
    border-radius: .5rem;
    background-image: linear-gradient(90deg, #a00, #d00);
    transition: transform 300ms ease-in-out;
}

/*con ~ le diremos que tome a sus hermanas que esten debajo*/
#tab-1:checked ~ .tab-bg-hover{
    transform: translateX(0);
}

#tab-2:checked ~ .tab-bg-hover{
    transform: translateX(100%);
}

#tab-3:checked ~ .tab-bg-hover{
    transform: translateX(200%);
}

#tab-4:checked ~ .tab-bg-hover{
    transform: translateX(300%);
}

/*HAMBURGUESA*/
.off-canvas-btn{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 999;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    opacity: 0.5;
    opacity: 0;
}

.off-canvas-burger{
    z-index: 998;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 0.6rem;
    background-color: #d00;
    border-radius: 0.3rem;
    transform: rotate(0deg) translate(-0.17rem, -1.2rem);
    transform-origin: top left;
    transition: transform 0.5s ease, background-color 500ms ease;
    opacity: 0;
}

.off-canvas-burger::before,
.off-canvas-burger::after{
    content: "";
    display: block;
    width: 100%;
    height: .6rem;
    background-color: #d00;
    border-radius: .3rem;
    transition: transform 500ms ease; 
    opacity: 0;
}

.off-canvas-burger::before{
    transform: rotate(0deg) translate(0, -0.9rem);
    /*background-color: blue;*/
}
.off-canvas-burger::after{
    transform: rotate(0deg) translate(0,0.3rem);
    /*background-color: green;*/
}

.off-canvas-btn:checked + .off-canvas-burger{
    background-color: transparent;
}

.off-canvas-btn:checked + .off-canvas-burger::before{
    transform: rotate(45deg) translate(0,0);
}

.off-canvas-btn:checked + .off-canvas-burger::after{
    transform: rotate(-45deg) translate(0.4rem,-0.5rem);
     
}

.off-canvas-menu{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0008;
    z-index: 997;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s; 
    transform: translate(0,-100%);
    transform: translate(100%,0);
}

.off-canvas-btn:checked ~ .off-canvas-menu{
    transform: translate(0,0);
    
}


.off-canvas-menu-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.off-canvas-link{
    border-bottom: thin solid #d00;
    padding: 2rem;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    transition: background-color 500ms ease;
}
.off-canvas-link:first-child{
    border-top: thin solid #d00;
}
.off-canvas-link:hover{
    background-color: #d005;
}

/*HAMBURGUESA PRUEBA*/

.off-canvas-btn2{
    position: fixed;
    z-index: 999;
    width: 3rem;
    height: 3rem;
    bottom: 1rem;
    left: 1rem;
    cursor: pointer;
    opacity: 0.5;
    opacity: 0;
}

.off-canvas-burger2{
    position: fixed;
    z-index: 998;
    bottom: calc(1rem + 1.4rem);
    left: calc(1rem + 4px);
    width: 3rem;
    height: 0.6rem;
    background-color: red;
    border-radius: 0.3rem;
    transition: background-color 500ms ease;
    opacity: 0;
}

.off-canvas-burger2::before,
.off-canvas-burger2::after{
    content: "";
    position: fixed;
    display: block;
    width: 3rem;
    height: 0.6rem;
    border-radius: 0.3rem;
    transform-origin: top left;
    transition: transform 500ms ease, background-color 500ms ease;
    opacity: 0;
}
.off-canvas-burger2::before{
    bottom: calc(1rem + 2.4rem);
    left: calc(1rem + 4px); 
    background-color: blue;
    
}
.off-canvas-burger2::after{
    bottom: calc(1rem + 0.4rem);
    left: calc(1rem + 4px);
    background-color: green;
    
}

.off-canvas-btn2:checked + .off-canvas-burger2{
    background-color: transparent;
}

.off-canvas-btn2:checked + .off-canvas-burger2::before{
    transform: rotate(45deg) translate(8px,-6px);
    
}
.off-canvas-btn2:checked + .off-canvas-burger2::after{
    transform: rotate(-45deg) translate(0px,5px);
    
}

.off-canvas-menu2{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0008;
    transition: transform 500ms ease-in-out;
    transform: translate(100%,0);
    
}
.off-canvas-btn2:checked ~ .off-canvas-menu2{
    
    transform: translate(0, 0);
}
.off-canvas-menu-container2{
    
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.off-canvas-link2{
    width: 100%;
    border-bottom: thin solid #d00;
    text-align: center;
    padding: 2rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    transition: background-color 500ms ease-in-out;
}

.off-canvas-link2:first-child{
    border-top: thin solid #d00;
}

.off-canvas-link2:hover{
    
    background-color: #d005;
}
    
.modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0008;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 500ms ease-in-out;
}

.modal:target{
    opacity: 1;
    pointer-events: auto;
}

.modal-container{
    position: relative;
    border: thick double #d00;
    border-radius: 1rem;
    padding: 2rem;
    width: 70%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    overflow: hidden;
    background-color: #fff;

}

.modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
    background-color: #d00;
    transition: background-color 300ms linear, transform 300ms ease-in-out;
}

.modal-close:hover{
    background-color: #a00;
    transform: scale(1.2);
}

@keyframes introStarWars{
    0%{
        transform: perspective(100vh) rotateX(15deg)translateY(100%);
    }
    100%{
        transform: perspective(100vh)rotateX(25deg)translateY(-650%);
    }
}

.star-wars{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100vh;  
    overflow: hidden;
    background-image: url("../../assets/html&css/stars-star-gazing.gif");
    

}

.star-wars-container{
    
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100vh;
    text-align: justify;
    letter-spacing: .1rem;
    animation: introStarWars 50s linear 500ms 1 normal both running;
    
    /*animation: myAwesomeAnimation 1.5s ease 250ms 7 alternate both running;*/
} 
.lycan,
.galahad,
.josep,
.poli,
.sinchi,
.david,
.zapi{
    border: thick solid red;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    background-position: center;
    margin-bottom: 20rem;
    

}
.lycan{
    background-image: url("../../assets/html&css/lycan2.png");
}
.galahad{
    background-image: url("../../assets/html&css/galil.png");
}
.josep{
    background-image: url("../../assets/html&css/josep.png");
}
.poli{
    background-image: url("../../assets/html&css/poli.png");
}
.sinchi{
    background-image: url("../../assets/html&css/sinchi.png");
}
.david{
    background-image: url("../../assets/html&css/david.png");
    margin-bottom: 60rem;
}
.zapi{
    background-image: url("../../assets/html&css/zapi.png");
    background-size: 70rem, 40rem;
    transform: scale(1.5);
    /*transform: scale(2.5);*/
    
}
.star-wars h2,
.star-wars h3,
.star-wars h4{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    background-image: linear-gradient(45deg, magenta, yellow);
    -ms-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    
}

.star-wars p{
    font-size: 1.8rem;
    line-height: 4rem;
    
}
.prueba{
    display: inline;
    background-image: linear-gradient(45deg, magenta, yellow);
    -ms-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    
}
.prueba:hover{
    cursor: pointer;
    filter: drop-shadow(1rem 1rem 1rem blue);
}