html{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}
*,
::before,
::after{
    box-sizing: inherit;
}

.box{
    border: thick solid black;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    margin-bottom: 3rem;
}

.shadows{
    display: flex;
    justify-content: center;
    align-items: center;
    color: navy;
    font-size: 2rem;
    text-align: center;
    /*box-shadow: mov-x mov-y blur-radius color-inset/outset;*/
    text-shadow: -1rem -1rem 0.40rem hotpink;
    /*box-shadow: mov-x mov-y blur-radius spread-blur color-inset/outset;*/
    box-shadow: 1rem 1rem 1rem 1rem #f00 outset; /*default :outset no se escribe ya que no lo toma en cuenta el color*/
    box-shadow: 1rem 1rem 1rem 1rem #f00 inset;
    box-shadow: 1rem 1rem 1rem 1rem #0005;
    
}

.shadows-multiple{
    font-size: 2rem;
    text-align: center;
    box-shadow: 1rem 1rem 1rem 1rem #0005, 1rem 1rem 1rem 1rem #f00 inset,
     -1rem -1rem 1rem 2rem hotpink;
    text-shadow: -1rem -1rem 0.25rem navy, 1rem 1rem 0.5rem greenyellow;
}
.drop-shadow{
    width: 600px;
    height: auto;
}
.drop-shadow img{
    max-width: 100%;
    height: auto;
    /*filter: drop-shadow(mov-x mov-y blur-radius color)*/
    /*filter: drop-shadow(1rem, 1rem, 1rem red);*/
    /*box-shadow: 1rem 1rem 1rem 1rem #f00;*/
    filter: drop-shadow(1rem 1rem 1rem red);
    filter: drop-shadow(1rem 1rem 1rem blue);
}
.linear-gradient{
    background-image: linear-gradient(red, green, blue);
    background-image: linear-gradient(90deg,red, green, blue);
    background-image: linear-gradient(180deg,red, green, blue);
    background-image: linear-gradient(360deg,red, green, blue);
    background-image: linear-gradient(to right,red, green, blue);
   
    
}

.radial-gradient{
    background-image: radial-gradient(circle, cyan 30%, magenta 80%, yellow);
    background-image: radial-gradient(circle 4rem, cyan, magenta, yellow);
    background-image: radial-gradient(circle 100px, cyan 30%, magenta 80%, yellow);
    background-image: radial-gradient(circle 100px, cyan 30%, magenta 60%, yellow);
    /*por defecto es center la ubicacion es 0 en x y 0 en y aqui le estamos diciendo at top que se vaya en y hacia arriba*/
    background-image: radial-gradient(circle 100px at top, cyan 30%, magenta 80%, yellow);
    background-image: radial-gradient(circle 100px at bottom, cyan 30%, magenta 80%, yellow);
    background-image: radial-gradient(circle 100px at center, cyan 30%, magenta 80%, yellow);
    background-image: radial-gradient(circle 100px at top left, cyan 30%, magenta 80%, yellow);
    background-image: radial-gradient(circle 100px at top center, cyan 30%, magenta 80%, yellow);
    background-image: radial-gradient(circle 100px at bottom right, cyan 30%, magenta 80%, yellow);
    /*ellipse representara en x, y*/
    background-image: radial-gradient(ellipse 50px 100px, cyan 30%, magenta 80%, yellow);
    background-image: radial-gradient(circle 100px, red 50%, white 51%);
}

.conic-gradient{
    background-image: conic-gradient(red, green, blue);
    background-image: conic-gradient(red 0deg 90deg, green 120deg 240deg, blue 270deg);
    /*inicia apartir de 90°*/
    background-image: conic-gradient(from 90deg, red 0deg 90deg, green 120deg 240deg, blue 270deg);
    background-image: conic-gradient(from 180deg, red 0deg 90deg, green 120deg 240deg, blue 270deg);
    background-image: conic-gradient(from 360deg, red 0deg 90deg, green 120deg 240deg, blue 270deg);
    background-image: conic-gradient(from 90deg, red 0deg 135deg, blue 135deg 225deg, white 225deg);
}

/*REPETIR DEGRADADOS*/
.repeat-gradient-lineal{
    /*repeating hara que repita las siguintes caracterisiticas*/
    background-image: repeating-linear-gradient(90deg,red 0 10px,  green 10px 20px, blue 20px 30px );
}
.repeat-gradient-radial{
    background-image: repeating-radial-gradient(circle,cyan 0 10px,  magenta 10px 20px, yellow 20px 30px );
}
.repeat-gradient-conic{
    background-image: repeating-conic-gradient(from 150deg,red 0 8%,  yellow 8% 16%, black 16% 24% );
}
/*GRAFICA DEGRADADO*/
.chart-gradient {
  background-image: conic-gradient(cyan 0% 50%, magenta 50% 80%, yellow 80%);
  border-radius: 50%;
}

.donut-gradient {
  background-image: radial-gradient(white 30%, black 31%, transparent 33%),
    conic-gradient(cyan 0% 50%, magenta 50% 80%, yellow 80%);
  border-radius: 50%;
}

.card{
    border: thick solid black;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    margin-bottom: 3rem;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
}
.filter{
    
    
    /*difuminar*/
    filter: blur(0.25rem);
    filter: blur(0.10rem);

    /*brillo*/
    filter: brightness(1)/*default*/;
    filter: brightness(0.75);
    filter: brightness(0.50);
    filter: brightness(1.50);
    filter: brightness(2);

    /*contraste*/
    filter: contrast(1)/*default*/;
    filter: contrast(0);
    filter: contrast(0.25);
    
    /*escala de grises*/
    filter: grayscale(0)/*default*/;
    filter: grayscale(1);

    /*sepia*/
    filter: sepia(0)/*default*/;
    filter: sepia(0.75);
    filter: sepia(1);
    
    /*tono rotar*/
    /*como referencia el rgb de grados*/
    filter: hue-rotate(0)/*default*/;
    filter: hue-rotate(30deg);
    filter: hue-rotate(90deg);
    filter: hue-rotate(120deg);
    filter: hue-rotate(150deg);
    filter: hue-rotate(180deg);
    filter: hue-rotate(210deg);
    filter: hue-rotate(360deg);
    filter: hue-rotate(300deg);

    /*invertir*/
    /*tipo boleano*/
    filter: invert(0)/*default*/;
    filter: invert(0.25);
    filter: invert(1);

    /*opacidad*/
    filter: opacity(0);
    filter: opacity(0.25);
    filter: opacity(0.5);
    filter: opacity(1)/*default*/;

    /*saturacion*/
    filter: saturate(0);
    filter: saturate(0.25);
    filter: saturate(0.75);
    filter: saturate(4);
    filter: saturate(1)/*default*/;
    
    filter: invert(1);

}

.filters-multiple{
    filter: blur(0.1rem) hue-rotate(270deg) opacity(0.75) invert(1);
}

.relative{
    position: relative;
}
.absolute{
    position: absolute;
    top: 0;
    left: 0;
}

.backdrop-filter,
.backdrop-filter-multiple{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.backdrop-filter h4{
    color: #fff;
    border-radius: 50%;
    padding: 2rem;
    font-size: 3rem;
    background-color: rgba(255,102,255, .5);
    backdrop-filter: grayscale(1);
    backdrop-filter: sepia(1);
    backdrop-filter: invert(1);
    backdrop-filter: opacity(0.5);
    backdrop-filter: hue-rotate(180deg);
    backdrop-filter: blur(0.5rem);
    backdrop-filter: brightness(1rem);
    backdrop-filter: saturate(2);
    
}

.backdrop-filter-multiple h4 {
    border-radius: 50%;
    padding: 2rem;
    font-size: 3rem;
    color: #fff;
    background-color: rgba(255, 102, 255, 0.5);
    backdrop-filter: blur(1rem) hue-rotate(240deg) opacity(0) invert(1);
  }
  
/*
.dark-mode {
    background-color: #fff;
    color: #000;
    filter: invert(1);
  }
  
  .dark-mode img {
    filter: invert(1);
  }
  */

  /*Sobre imágenes (img)*/
  .blend-modes img{
    mix-blend-mode: normal;
    mix-blend-mode: color;
    mix-blend-mode: color-dodge;
    mix-blend-mode: color-burn; 
    mix-blend-mode: luminosity;
    mix-blend-mode: hue;
    mix-blend-mode: exclusion;
    mix-blend-mode: difference;
    mix-blend-mode: hard-light;
    mix-blend-mode: darken;
    mix-blend-mode: overlay;
    mix-blend-mode: multiply;
    
  }

  .bg-blend-modes{
      background-image: url("../../assets/html&css/BuenosDias.jpg"), 
      url("../../assets/html&css/puesta-sol.jpg");
      background-size: cover;
      background-blend-mode: normal;
      background-blend-mode: color;
      background-blend-mode: multiply;
      /*igual a todas las anteriores*/
  }

  /*MASCARAS*/
  .clip-path{
      clip-path: circle();
      clip-path: circle(10rem);
      clip-path: circle(10rem at left);
      clip-path: circle(10rem at right);
      clip-path: circle(10rem at left bottom);
      clip-path: circle(10rem at center);
      clip-path: circle(10rem at 30% 50%);
      clip-path: ellipse(12rem 12rem);
      clip-path: ellipse(12rem 12rem at left);
      clip-path: ellipse(12rem 12rem at right);
      clip-path: ellipse(12rem 12rem at 0 0);
      clip-path: ellipse(12rem 12rem at 35% 50%);
      clip-path: inset(2rem);
      clip-path: inset(2rem 1rem);
      clip-path: inset(0rem)/*default*/;
      clip-path: inset(2rem 2rem 1rem 1rem);
      clip-path: inset(2rem 2rem 1rem 1rem);
      clip-path: inset(1rem round 1rem 5rem);
      clip-path: inset(1rem round 1rem 1rem 5rem 5rem);
      /*esto nos ayudara en este caso un triangulo*/
      clip-path: polygon(0 0, 100% 0, 50% 100%);
      clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }

  .shapes{
      border: thick solid black;
      padding: 1rem;
      margin: 0 auto 0rem;
      max-width: 800px;
      font-size: 1.25rem;
  }

  .shapes img{
      border-radius: 50%;
      width: 200px;
      height: 200px;
      object-fit: cover;
      object-position: 0% 50%;
  }

  .float-left{
      float: left;
  }
  .float-right{
      float: right;
  }
  /*el texto se adaptara de acuerdo al figura geometrica de la imagen*/
  .shape-1{
      margin: 4rem 2rem 4rem 0 ;
      
      /*fomraria una estrella*/
      shape-outside: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
      shape-outside: circle();
      
  }
  .shape-2{
    margin: 4rem 0rem 4rem 2rem;
    /*con esto podremos separar*/
    shape-outside: ellipse(6.5rem 7rem at 50% 50%);
  }
  .shape-3{
    margin-right: 2rem;
    shape-outside: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  }